* {
    box-sizing: border-box;
}

.red-container {
    position: relative;
    display: inline-block;
}

.smaller-red-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.player-health-container{
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.player-health {
    background-color: yellow;
    height: 30px;
}

.player-health2{
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-health-container{
    position: relative;
    height: 30px;
    width: 100%;
}

.enemy-health {
    background-color: yellow;
    height: 30px;
}

.enemy-health2{
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tie{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}